.real-blue-colored {
  background-color: #2d3d72;
  color: white;
  border: none;
  border-radius: 5px;
}

.middle-blue-colored {
  background-color: #5274c5;
  color: white;
  border: none;
  border-radius: 5px;
}

.real-gray-colored {
  background-color: #a8a8a8;
  color: black;
  border: none;
  border-radius: 5px;
}

.middle-gray-colored {
  background-color: #efefef;
  color: black;
  border: none;
  border-radius: 5px;
}

.searchBox {
  height: 24px;
}

.long {
  width: 80%;
  height: 30px;
}

.short {
  width: 30%;
  height: 30px;
}

.search {
  width: 5%;
  height: 30px;
}

.cardBox {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5px;
}

.cardBox:hover {
  background-color: #a8a8a8;
  border: none;
}

.accordion {
  padding: 10px;
}
.accordion h4 {
  text-transform: none;
}
.accordion p {
  background: #a8a8a8;
  margin-bottom: 0;
}
.accordion header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
  min-width: 2rem;
}
