.img-logo {
  margin-bottom: 10px;
}

.detail-heading {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.detail-heading div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  background-color: #eee;
}

.detail-icon {
  width: 60px;
}

.detail-auction-number {
  width: 150px;
}

.detail-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 30vh;
  box-sizing: border-box;
  background-color: #ddd;
  margin: 0 0 10px 0;
  list-style: none;
  padding: 20px;
}

.detail-basics li {
  display: flex;
  gap: 20px;
}

.detail-basics li h5 {
  width: 30%;
  margin: 0;
}

.detail-basics li span {
  font-size: 14px;
}
