.detail-slides-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 30vh;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.detail-slides {
  display: flex;
  transition: transform 0.3s;
  position: relative;
}

.detail-slide {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.slide-img-area {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}

.detail-slide-btn {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.detail-slide-btn:active {
  background-color: red;
}

.detail-slide-btn p {
  margin: 0;
}

.dots {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.dot {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 500px;
  transition: background-color 0.3s;
}

.dot:active {
  background-color: black;
}
