.select-real-estate-container {
  width: 80%;
  margin: 0 auto;

  .select-real-estate {
    background-color: #345ee7;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .concon {
    margin-top: 13px;
    background-color: #efefef;
    color: #000;
    border-radius: 5px;
    height: 65px;
  }
}
