.login-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100vw;
  height: 100vh;
  position: relative;

  .login-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border: 1px solid #0064ff;
    border-radius: 500px;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #2d3d72;
    border: 1px solid #2d3d72;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    transition: all 0.3s;
  }

  & a:hover {
    background-color: #2d3d72;
    color: #fff;
  }

  .login-footer {
    position: absolute;
    bottom: 5vh;
    align-items: center;
  }
}
