.main-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 100vh;

  & img {
    position: absolute;
    top: 4px;
    left: 4px;
  }

  & h4 {
    margin: 5px;
    text-align: left;
  }
}

.main-search-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 40px;
  gap: 10px;
  height: 25vh;

  & button {
    width: 150px;
    height: 120px;
    background-color: #7ca4f4;
    border: 5px solid #7ca4f4;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s;
  }

  & button:active {
    background-color: #345ee7;
    border: 5px solid #345ee7;
  }
}

.main-search-input {
  margin-top: 100px;
  display: flex;
  gap: 5px;

  & input {
    width: 220px;
    border-radius: 5px;
  }

  & button {
    background-color: #2d3d72;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50px;
  }
}
