.main-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;

  & img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-search-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  width: 40vw;
  height: 20vh;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 120px;
    background-color: #7ca4f4;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s;
  }

  & div:active {
    background-color: #345ee7;
  }
}

.main-search-input {
  display: flex;
  gap: 5px;

  & input {
    width: 220px;
    border: 2px solid #2d3d72;
    border-radius: 5px;
    padding: 3px 0 3px 7px;
    box-sizing: border-box;
    outline: none;
  }

  & button {
    background-color: #2d3d72;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50px;
  }
}
