.set-favorite-region-container {
  margin-top: 25px;

  & input {
    width: 229px;
    height: 25px;
    margin-right: 7px;
  }

  & button {
    height: 31px;
  }

  & div {
    margin-top: 10px;
  }

  .set-favorite-region-message {
    color: rgb(252, 103, 183);
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
  }
}
