.accordion {
  margin-bottom: 10px;
}

.accordion h4 {
  text-transform: none;
}

.accordion .accordion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.accordion .accordion-heading h4 {
  margin: 0;
}

.btn {
  background: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
  outline: none;
  min-width: 2rem;
}
